body {margin : 0;
}

.box {
	display: flex;
}

.imagebg {
	width: 30%;
}

.textebg {
	width: 70%;
	background-color: white;
	text-align: center;
}

h1 {
	font-family: 'Noe-Display-Bold';
	font-size: 7em;
}

h2 {
	font-family: 'Noe-Display-Bold';
	font-size: 2em;
}

h3 {
	font-family: 'Noe-Display-Bold';
	font-size: 4em;
	text-align: left;
}

h4 {
	font-family: 'NoeDisplay-Medium';
	font-size: 25px;
	text-align: center;
}

p {
	font-family: roboto;
	font-size: 1.1em;
	font-weight: bold;
}

.image {
	height: 100%;

}
 
@font-face {
	font-family: 'Noe-Display-Bold';
	src: url('Noe-Display-Bold.otf');
}

.paragraph {
	width: 80%;
	text-align: left;
	margin: auto;
	margin-top: 50px;
}

.soustitre {

}

.video iframe {
	display: block;
	margin: auto;
}

.CV {
	text-decoration: none;
	color: #d80039;
	font-family: 'NoeDisplay-Black';
	font-size: 1.5em;
}

.DL {
	text-align: right;
	margin-right: 10%;
}

.titre {
	text-align: center;

}
